<!DOCTYPE html>
<html>
<head>
<title>Printer Shack | <%= @title %></title>
</head>
<body>
<h1>About Us</h1>
<p>
Printer Shack
</p>
</body>
</html>

<div id="footer">
&copy; 2011 Printer Shack. Designed by Torsby Attipoe - Phone: 0868407106, Email: info@it247.ie,
  <a href="http://www.IT247.ie/">Visit www.IT247.ie</a>
</div>
