<!DOCTYPE html>
<html>
<head>
<title>Printer Shack | <%= @title %></title>
</head>
<body>
<h1>Contact</h1>
<p>

    Printer Shack
    Phone: 0868407106

    <%= link_to "Contact", :controller => "welcome", :action => "contact" %> |
</p>
</body>

<%= link_to "Contact", :controller => "welcome", :action => "contact" %> |



</html>

<div id="footer">
&copy; 2011 Printer Shack. Designed by Torsby Attipoe - Phone: 0868407106, Email: info@it247.ie,
  <a href="http://www.IT247.ie/">Visit www.IT247.ie</a>
</div>