<!DOCTYPE html>
<html>
<head>
<title>Printer Shack | <%= @title %></title>
</head>
<body>
3
<h1>Printer Shack</h1>
<p>
  <%= link_to "Sign up now!", '#', :class => "signup_button round" %>
This is the home page for the
<a href="http://zolutionzenter.com/">Printer Shack</a>
</p>
</body>
</html>

<div id="footer">
&copy; 2011 Printer Shack. Designed by Torsby Attipoe - Phone: 0868407106, Email: info@it247.ie,
  <a href="http://www.IT247.ie/">Visit www.IT247.ie</a>
</div>